# =============================================================================
#   GITIGNORE
# =============================================================================

# --- HISTORIALES Y SESIONES ---
.zsh_history
*.history
.bash_history
.lesshst
.wget-hsts
.python_history
.node_repl_history
.gdb_history
*.log

# --- CREDENCIALES ---
*.pem
*.key
*.pub
id_rsa
id_rsa.*
id_ed25519
id_ed25519.*
*.keystore
*.pfx
*.p12
.env
.env.*
secrets.*
*credentials*
*.secret

# --- ARCHIVOS TEMPORALES Y RESPALDOS ---
dotfiles_backup_*
*.bak
*.tmp
*.swp
*~

# --- CACHES Y BINARIOS ---
__pycache__/
*.pyc
*.pyo
.cache/
.DS_Store
Thumbs.db
